body {
  height: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171717;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px auto 150px;
}

/* header {
  width: auto;
  height: 50px;
  background: #171717;
  border-bottom:  2px solid #5157FF;
  
} */

body > div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
